*{
  margin: 0;
  padding: 0;  
}
html
{
  font-family:'Times New Roman', Times, serif;
  color: #f0f0f0;
}
body
{
  min-height: 100vh;
  background: #000000;
  color: #cbcede;
  align-content: center;
}
h1
{
  color: rgb(255, 34, 0);
}
.card
{
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background: #1b1d28;
  text-align: center;
  border-radius: 7px;
  position: relative;
}

@property --angle
{
  syntax: "<angle>";
  initial-value: 7deg;
  inherits: false;
}

.card::after, .card::before
{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #95ff00, #0400ff, #ff0077, #f90000);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -3;
  padding: 3px;
  border-radius: 10px;
  animation: 7s spin linear infinite;
}
.card::before
{
  filter: blur(1.7rem);
  opacity: 0.5;
}
@keyframes spin
{
  from
  {
    --angle: 0deg;
  }
  to
  {
    --angle: 360deg;
  }
}